.parameter {
    position: relative;

    display: flex;

    margin: 8px 8px 16px;
}

.controlContainer {
    flex-grow: 1;

    width: 40%;
    margin-right: 16px;
}

.title {
    font-weight: bold;

    display: inline-block;
    overflow: hidden;

    width: 35%;
    margin-right: 5%;
    margin-left: 8px;

    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #555;
    text-shadow: 1px 1px 0 #eee;
}
