.fader {
    height: 100%;

    text-align: center;

    background: #c4cace; /* url("i/metal-texture-small.jpg"); */
    background-size: contain;
}

.fader:not(:last-child) {
    margin-right: 1px;
}

.control {
    position: relative;

    height: calc(100% - 68px);
    margin-top: 34px;
    margin-bottom: 34px;
}

.control:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;

    width: 10px;
    margin-left: -5px;

    content: '';

    background: #555;
    box-shadow: inset 0 0 10px #000;
}

.thumb {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 50%;

    width: 30px;
    height: 60px;
    margin-left: -15px;

    cursor: s-resize;
    transform: translateY(50%);

    border-radius: 2px;
    background: linear-gradient(to bottom, #999 0%, #eee 11%, #ccc 48.33%, #333 50%, #ccc 51.66%, #eee 88.33%, #999 100%);
    box-shadow: 0 4px 5px rgba(0,0,0,.3), 0 2px 1px rgba(0,0,0,.5);

    touch-action: none;
}



.isHorisontal .control {
    margin: 0;
    padding: 0 15px;

    user-select: none;
}

.isHorisontal .thumb {
    top: -3px;
    left: auto;

    width: 30px;
    height: 15px;
    margin: 0;

    cursor: e-resize;
    transform: translateX(-50%);

    background: linear-gradient(to right, #999 0%, #eee 11%, #ccc 48.33%, #333 50%, #ccc 51.66%, #eee 88.33%, #999 100%);
}

.isHorisontal .control:after {
    left: 0;

    width: 100%;
    height: 10px;
    margin: 0;
}

.isAnimated {
    transition: all 250ms ease-in-out;
}
