.icon {
    display: inline-block;

    width: 0;
    height: 0;
    margin-top: 4px;
    margin-right: 5px;

    vertical-align: top;

    color: inherit;
}

.icon_type_play {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid currentColor;
}

.icon_type_pause {
    height: 8px;
    padding-left: 2px;

    border-right: 2px solid currentcolor;
    border-left: 2px solid currentcolor;
}

.icon_type_rewind {
    width: 0;
    height: 0;

    transform: rotate(180deg);

    border: 4px solid transparent;
    border-left: 5px solid currentColor;
}

.icon_type_rewind:before {
    position: absolute;
    top: -4px;
    left: 0;

    width: 0;
    height: 0;

    content: '';

    border: 4px solid transparent;
    border-left: 5px solid currentColor;
}
