.send {
    overflow: hidden;

    width: 100%;
    margin: 8px auto 0;

    border-radius: 4px;
    background: #c4cace; /* url("i/metal-texture-small.jpg"); */
    background-size: contain;
    box-shadow: 0 0 3px #000;
}

.title {
    font-weight: bold;

    margin-bottom: 16px;
    padding: 8px 16px;

    color: rgba(255,255,255,.87);
    border-radius: 4px 4px 0 0;
    background: #1b5e20;
}

.send:not(:first-child) .title {
    background: #827717;
}

/* send parameter styles */

.parameter {
    position: relative;

    display: flex;

    margin: 8px 8px 16px;
}

.parameterContainer {
    flex-grow: 1;

    width: 40%;
    margin-right: 16px;
}

.parameterTitle {
    font-weight: bold;

    display: inline-block;
    overflow: hidden;

    width: 35%;
    margin-right: 5%;
    margin-left: 8px;

    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #555;
    text-shadow: 1px 1px 0 #eee;
}
