.meter {
    position: relative;

    width: 100%;
    margin-bottom: 8px;

    background: #555;
}
.meter:after {
    position: absolute;
    z-index: 12;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    box-shadow: inset 0 0 10px #000;
}
.meterValue {
    position: relative;
    z-index: 10;
}
