.desk {
  width: 100%;
  height: 640px;
  margin: 0 auto;
  position: relative;
  user-select: none;
  font-size: 0.8em;
  border-radius: 4px;
  padding: 0;
  background: none;
  margin-right: 8px;
  display: flex;
}

.controlsContainer {
  border-radius: 4px;
  padding: 0;
  background: none;
  flex-shrink: 0;
  margin-left: 16px;
}

.tracks {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 3px #000;
  border-radius: 4px;
  overflow: hidden;
}

.controls {
/*margin: 32px auto 16px*/
  font-size: 0;
  padding: 16px;
  background: #c4cace; /* url("i/metal-texture-small.jpg"); */
  background-size: contain;
  box-shadow: 0 0 3px #000;
  border-radius: 4px 4px 0 0;
}

.control {
  padding: 8px 16px;
  border: none;
  background: #fff;
  outline: none;
  margin-right: 1px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: capitalize;
  text-shadow: 1px 0 0 #fff;
  transition: all 80ms ease-in-out;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), inset 0 0 1px 2px rgba(255,255,255,0.9), inset 0 -6px 5px rgba(0,0,0,0.1), 0 6px 7px rgba(0,0,0,0.3), 0 4px 1px rgba(0,0,0,0.5);
}

.control:hover {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), inset 0 0 1px 2px rgba(255,255,255,0.9), inset 0 -10px 15px rgba(0,0,0,0.1), 0 6px 7px rgba(0,0,0,0.3), 0 4px 1px rgba(0,0,0,0.5);
}

.control:active {
  transform: translateY(2px);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.18), inset 0 0 1px 2px rgba(255,255,255,0.5), inset 0 -6px 5px rgba(0,0,0,0.1), 0 6px 7px rgba(0,0,0,0.3), 0 2px 1px rgba(0,0,0,0.5);
}

.effects {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  flex-flow: column wrap;
}